/*
* Author:Yuri 2016/11/14
*/
.main-content .react-tab-content {
  padding-top: 0px; }
  .main-content .react-tab-content ul#strategy li {
    margin-top: 16px;
    border-top: 1px solid #616A76; }
    .main-content .react-tab-content ul#strategy li:nth-child(1) {
      margin-top: 0;
      border-top: none;
      border-bottom: 1px solid #616A76; }

.strategy.str-container {
  color: #9EACBF;
  background-color: #282E33;
  font-size: 14px;
  height: 100%; }
  .strategy.str-container .left {
    float: left;
    display: inline-block;
    width: 39.9%;
    height: 100%;
    min-height: 242px;
    border-right: 1px solid #616A76; }
    .strategy.str-container .left .s-header {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding-left: 20px; }
      .strategy.str-container .left .s-header .name {
        color: #fff; }
      .strategy.str-container .left .s-header .group {
        color: #f9b512;
        border: 1px solid #f9b512;
        border-radius: 2px;
        margin-left: 10px;
        display: inline-block;
        font-size: 12px;
        line-height: 22px;
        padding: 0px 5px; }
      .strategy.str-container .left .s-header .detail {
        position: absolute;
        right: 5px; }
        .strategy.str-container .left .s-header .detail a {
          font-size: 12px;
          color: #FC5858; }
    .strategy.str-container .left .s-body table {
      border-collapse: collapse;
      width: 100%; }
      .strategy.str-container .left .s-body table td {
        width: calc((100% / 3) - 2px);
        height: 50px;
        display: inline-block;
        border: 1px solid #374148;
        text-align: center;
        padding-top: 15px; }
        .strategy.str-container .left .s-body table td:nth-child(3) {
          border-right: none; }
        .strategy.str-container .left .s-body table td .name {
          font-size: 12px;
          line-height: 18px; }
        .strategy.str-container .left .s-body table td .value {
          font-family: Helvetica Neue;
          font-size: 16px;
          font-weight: bolder;
          display: block; }
        .strategy.str-container .left .s-body table td .icon {
          font-size: 8px; }
        .strategy.str-container .left .s-body table td .positive {
          color: #FC5858; }
        .strategy.str-container .left .s-body table td .nagetive {
          color: #5BBF7E; }
    .strategy.str-container .left .s-footer {
      padding: 20px 14px;
      font-size: 12px; }
      .strategy.str-container .left .s-footer span {
        line-height: 12px; }
      .strategy.str-container .left .s-footer .showIcon {
        display: inline-block; }
      .strategy.str-container .left .s-footer .hideIcon {
        display: none; }
      .strategy.str-container .left .s-footer .ellipsis.showIcon {
        display: inline-block; }
      .strategy.str-container .left .s-footer .ellipsis.hideIcon {
        display: none; }
  .strategy.str-container .right {
    float: right;
    position: relative;
    width: 60%;
    height: 242px; }
    .strategy.str-container .right .chartTitle {
      padding: 11.5px 20px;
      position: relative;
      border-bottom: 1px solid #374148; }
      .strategy.str-container .right .chartTitle .title {
        color: #fff;
        font-size: 14px; }
      .strategy.str-container .right .chartTitle .label {
        height: 33px;
        line-height: 30px;
        width: 108px;
        text-align: center;
        position: absolute;
        top: 0px;
        z-index: 1;
        right: 55px;
        color: #fff;
        font-size: 14px;
        font-family: "Microsoft Yahei", "MicrosoftYaHei", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
        font-weight: bolder; }

.isNull div {
  height: 242px;
  background-color: #282E33;
  position: relative; }
  .isNull div img {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px; }
  .isNull div span {
    position: absolute;
    top: 75%;
    left: 37%;
    color: #9EACBF;
    margin-left: -27px;
    margin-top: -27px; }

.label_1 {
  background-image: url("http://static.sofund.com/matrix/images/label_1.png"); }

.label_2 {
  background-image: url("http://static.sofund.com/matrix/images/label_2.png"); }

.label_3 {
  background-image: url("http://static.sofund.com/matrix/images/label_3.png"); }

.label_4 {
  background-image: url("http://static.sofund.com/matrix/images/label_4.png"); }

.label_5 {
  background-image: url("http://static.sofund.com/matrix/images/label_5.png"); }

.label_0 {
  background-image: url("http://static.sofund.com/matrix/images/label_0.png"); }

/*# sourceMappingURL=strategy.css.map */
