/*
* Author:Yuri 2016/11/14
*/

$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;


$BO:1px solid $BORDER;

$GROUP:#f9b512;
.main-content .react-tab-content{
  padding-top: 0px;
  ul#strategy{
    li{
      margin-top: 16px;
      border-top: $BO;
      &:nth-child(1){
        margin-top: 0;
        border-top: none;
        border-bottom: $BO;
      }
    }


  }
}
.strategy.str-container {
  color: $FONT;

  background-color: $FILTER_BG;

  font-size: 14px;
  height:100%;

  .left {
    float: left;
    display: inline-block;
    width: 39.9%;
    height: 100%;
    min-height: 242px;
    border-right: $BO;
    .s-header {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      .name {
        color: #fff;

      }
      .group {

        color: $GROUP;
        border: 1px solid $GROUP;
        border-radius: 2px;
        margin-left: 10px;
        display: inline-block;
        font-size: 12px;
        //height: 22px;
        line-height: 22px;
        padding: 0px 5px;
      }
      .detail {
        position: absolute;
        right: 5px;

        a {
          font-size: 12px;
          color: $UP;
        }
      }

    }
    .s-body {
      table {
        border-collapse: collapse;
        width: 100%;
        td {
          width: calc((100% / 3) - 2px);
          //width: (100%/3);
          height: 50px;
          display: inline-block;
          border: 1px solid $NAV_BG;
          //border-left: none;
          text-align: center;
          padding-top: 15px;
          &:nth-child(3) {
            border-right: none;
          }
          .name {
            font-size: 12px;
            line-height: 18px;

          }
          .value {
            font-family: Helvetica Neue;
            font-size: 16px;
            font-weight: bolder;
            display: block;
            //margin-top: 9px;
          }
          .icon{
            font-size: 8px;
          }
          .positive {
            color: $UP;

          }
          .nagetive {
            color: $DOWN;
          }
        }
      }
    }
    .s-footer {
      padding: 20px 14px;
      font-size: 12px;
      span{
        line-height: 12px;
      }
      .showIcon{
        display: inline-block;
      }
      .hideIcon{
        display: none;
      }
      .ellipsis{
        //display: inline-block;
        //cursor: pointer;
        //font-size: 15px;
        //line-height: 12px;
        //background-color:$NAV_BG;
        //height: 12px;
        //width: 20px;
        //text-indent: 5px;
        //border-radius: 3px;

        //position: relative;
        //border: 1px solid $DIVIDING_LINE;
        //&:hover{
        //  color: $FONT_HOVER_COLOR;
        //  background-color:$TOOLBAR_BG ;
        //}

        &.showIcon{
          display: inline-block;
        }
        &.hideIcon{
          display: none;
        }
      }
    }
  }
  .right {
    float: right;
    position: relative;
    width: 60%;
    height: 242px;
    .chartTitle{
      padding:11.5px 20px;
      position: relative;
      border-bottom: 1px solid $NAV_BG;
      .title{
        color: #fff;
        font-size: 14px;
      }
      .label {
        height: 33px;
        line-height: 30px;
        width: 108px;
        text-align: center;
        position: absolute;
        top:0px;
        z-index: 1;
        right: 55px;
        color: #fff;
        font-size: 14px;
        font-family: "Microsoft Yahei", "MicrosoftYaHei", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
        font-weight: bolder;
      }
    }
    .chartSpline{
      //height: 100%;
    }


  }
}

.isNull{
  div{
    height: 242px;
    background-color: $FILTER_BG;

    position: relative;
    img{
      position: absolute;
      top:45%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px;
    }
    span{
      position: absolute;
      top:75%;
      left: 37%;
      color: $FONT;
      margin-left: -27px;
      margin-top: -27px;
    }
  }

}

.label_1{
  background-image: url("http://static.sofund.com/matrix/images/label_1.png");
}
.label_2{
  background-image: url("http://static.sofund.com/matrix/images/label_2.png");
}
.label_3{
  background-image: url("http://static.sofund.com/matrix/images/label_3.png");
}
.label_4{
  background-image: url("http://static.sofund.com/matrix/images/label_4.png");
}
.label_5{
  background-image: url("http://static.sofund.com/matrix/images/label_5.png");
}
.label_0{
  background-image: url("http://static.sofund.com/matrix/images/label_0.png");
}
