/*
* Author:Yuri 2016/09/05
*/

$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;

@mixin btn($wi,$hi,$bc,$co,$br){
  width: $wi;
  height: $hi;
  display: inline-block;
  background-color: $bc;
  color: $co;
  text-align: center;
  line-height: $hi;
  font-size: 14px;
  border-radius: $br;
}

@mixin init($w){
  width: $w;
  margin: 0 auto;
  padding-top: 20px;
}
@mixin commonFilter{
  ul{
    float: left;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 30px;
  }
  .inputOption{
    margin-top: 19px;
    padding-left: 30px;
    float: left;
  }
}
.resultCount{
  font-size: 12px;
  color: $FONT;
  .num{
    color: $UP;
  }
}
$itemW: 396px;
.fp-t-container{
  width: 400px;
  margin: 0 auto;
  color: $FONT;
  padding-top: 50px;
  .boxContainer{
    margin-bottom: 20px;
    .item{
      width: $itemW;
      height: 156px;
      border: 2px solid $BORDER;
      background-image: url("http://static.sofund.com/matrix/images/fundPool-type.jpg");

      text-align: center;
      color: $FONT;

      position: relative;
      &.active{
        border-color: $A;
        color: $A;
      }
      .selectedIcon{
        display: inline-block;

        position: absolute;
        right: 0;
        bottom: 0;
        width:26px;
        height: 26px;
        background-color: $A;
        line-height: 26px;
        color: #fff;
        &>.icon{
          display: block;
          font-size: 20px;
          line-height: 26px;
        }
      }
      span{
        line-height: 156px;
        font-size: 26px;
        font-weight: bold;
        color: inherit;
      }
    }
    .list{
      width: 100%;
      height: 92px;
      background-color: #2f3539;
      padding-top: 8px;
    }
    .list.shortList{
      height: 56px;
    }
  }

  .btn{
    @include btn(160px,40px,$UP,#FFF,2px);
    float: right;
    margin-top: 10px;
  }
  .warning{
    display: inline-block;
    color: $UP;

  }
}

.fp-com-container{
  width: 910px;
  margin: 0 auto;
  padding-top: 20px;
  input{
    height: 22px;
  }
  .commonFilter{
    @include commonFilter();
  }
  .warningText-first{
    margin-left: 60px;
  }
  .warningText-second{
    margin-left: 220px;
  }


}

.fp-ci-container{
  @include init(910px);
  .superParam{
    //margin-top: 77px;
    &>ul{
      float: left;
      box-sizing: border-box;
      padding-top: 30px;
      padding-left: 30px;
    }
    .inputOption{
      margin-top: 19px;
      padding-left: 30px;
      float: left;
    }
  }
  .childParam{
    float: left;
    height: 22px;
    min-width: 650px;
    border: 1px solid $BORDER;
    border-radius: 2px;
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 30px;
    ul{
      display: inline-block;
      line-height: 22px;

    }
    //&>.filterListBody{
    //  position: relative;
    //  &>.filterListBody{
    //    position: relative;
    //  }
    //}
    .filterListBody{
      display: inline-block;
      line-height: 22px;
      position: relative;

      .inputOption{
        position: relative;
        margin-top: 0;
        padding-left: 0;
        height: 22px;
        right:-300px\0;
        .inputContainer{
          display: inline-block;
        }
        .warningContainer{
          margin-left: 3px;
          margin-right: 3px;
        }
        .warningText{
          display: inline-block;
        }

      }
    }
  }
}
.fp-de-container{
  @extend .fp-ci-container;
  //.companyBoxPanel:nth-child(2){
    .commonFilter.fundScale{
      @include commonFilter();
    }
    .fundAchieve .filterListBody{
      .filterListBody{
        .inputOption{
          right:-200px\0;
        }
      }
    }
  //}

  &>div:nth-child(2){
   input{
     height: 22px;
   }
  }
  .achieveSuper{
    div.inputOption{
      position: relative;
      .warningContainer{
        position: absolute;
        top: 0px;
        right: -120px;
      }
    }
  }
  .fundScale{
    .warningText-first{
      margin-left: 60px;
    }
    .warningText-second{
      margin-left: 220px;
    }
  }

}
.fp-result-container{
  .placeholder{
    top:18px;
    left: 200px;
  }
  @include init(720px);
  color: $FONT;
  text-align: center;
  padding-top: 50px;
  &>span{
    font-size: 14px;
  }
  .warningMail{
    color: $UP;
  }
  input{
    color: #fff;
    height: 22px;
    border: 1px solid $BORDER;
    border-radius: 2px;
    text-indent: 7px;
  }
  .resultCount{
    margin-top: 5px;
    text-align: left;
  }
  form{
    border: 1px solid $BORDER;
    font-size: 12px;
    text-align: left;
    margin-top: 15px;
    label{
      display: inline-block;
      width: 140px;
      height: 40px;
      border-right: 1px solid $BORDER;
      text-align: right;
      line-height: 40px;
      padding-right: 27px;
      margin-right: 30px;
    }
    div.form-group{
      position: relative;
    }
    div.form-group:nth-child(odd){
      background-color:$FILTER_BG ;
    }
    div.form-group:nth-child(even){
      background-color:  $TABLE_BG;
    }
    #fundID{
      width: 198px;
      font-size: 12px;
    }
    #mail{
      width: 258px;
      margin-right: 10px;
    }

    .selectLike{
      width: 198px;
      display: inline-block;
      border: 1px solid $BORDER;
      border-radius: 4px;
      height: 22px;

      background-color:$FILTER_BG ;
      line-height: 22px;

      text-indent: 7px;
      color: #fff;
      .dropLike{
        height: 22px;
        width: 22px;
        float: right;
        margin-right: -1px;
        border-radius: 2px;
        display: inline-block;
        background-color: $TOOLBAR_BG;
        text-align: center;
        .caret{
          margin-top: 10px;
          margin-right: 7px;
          vertical-align:super;
        }

      }
    }
    .time-select{
      text-indent: 0;
      border: none;
      .select-box{
        width: 100%;
        text-indent: 7px;
      }
      .caret-box{
        height: 22px;
        width: 22px;
        float: right;
        margin-right: -1px;
        border-radius: 2px;
        display: inline-block;
        background-color: $TOOLBAR_BG;
        text-align: center;
        vertical-align: middle;
        position: relative;
        i{
          margin-top: 10px;
          margin-right: 7px;
        }
      }
    }
    .dropdown{
      position: absolute;
      left: 197px;
      width: 200px;
      border: 1px solid $BORDER;
      z-index: 9;
      background-color: $FILTER_BG;
      border-radius: 3px;
      li{
        cursor: pointer;
        color: #fff;
        text-indent: 5px;
        line-height: 20px;
        &:hover{
          background-color: $TABLE_BG;
        }
      }
    }

    .resultList{
      label{
        float: left;
        border: 0;
        margin-right: 0px;
      }
      #resultList{
        display: inline-block;
        width: 550px;
        border-left: 1px solid $BORDER;;
        li{
          display: block;
          width: 100%;
          line-height: 40px;
          text-indent: 30px;
        }
        li:nth-child(odd){
          background-color:$FILTER_BG ;
        }
        li:nth-child(even){
          background-color:  $TABLE_BG;
        }
      }

    }
  }
  a.fp-btn-next{
    color: #fff;
    float: right;
    width: 160px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.fp-btn-next{
  @include btn(160px,40px,$UP,#FFF,2px);
  float: right;
  margin-top: 10px;
}

.fp-btn-prev{
  @include btn(160px,40px,$TOOLBAR_BG,#FFF,2px);
  float: left;
  margin-top: 10px;
}
.fp-btn-skip{
  @include btn(160px,40px,$TOOLBAR_BG,#FFF,2px);
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.caret.active{
  border-top-color: $A;
}

