@charset "UTF-8";
/**
 * Created by renren on 2016/11/10.
 */
.stockHistory {
  width: 100%;
  border: 1px solid #5d6c78;
  margin-top: 10px;
  background-color: #292f33; }
  .stockHistory .stockHistory-title {
    font-size: 14px;
    color: #fff;
    text-indent: 20px;
    padding: 14px 0;
    border-bottom: 1px solid #3f4448; }
    .stockHistory .stockHistory-title .stockHistory-show-icon {
      float: right;
      margin-right: 20px;
      color: #9eacbf; }
      .stockHistory .stockHistory-title .stockHistory-show-icon:hover {
        color: #fff; }
      .stockHistory .stockHistory-title .stockHistory-show-icon .icon-circle-right:before {
        content: "\e90d";
        font-size: 24px; }
      .stockHistory .stockHistory-title .stockHistory-show-icon .icon-circle-down:before {
        content: "\e90b";
        font-size: 24px; }
  .stockHistory .stockHistory-content {
    padding-left: 20px;
    padding-right: 20px; }
    .stockHistory .stockHistory-content.stockHistory-content-show {
      display: block; }
    .stockHistory .stockHistory-content.stockHistory-content-none {
      display: none; }
    .stockHistory .stockHistory-content li {
      color: #9eacbf;
      font-size: 14px;
      border-bottom: 1px solid #393e42; }
      .stockHistory .stockHistory-content li.historyLi-show .history-li-table {
        display: table; }
      .stockHistory .stockHistory-content li.historyLi-show .history-li-message {
        display: block; }
      .stockHistory .stockHistory-content li .history-li-day {
        padding-top: 15px;
        padding-bottom: 15px; }
        .stockHistory .stockHistory-content li .history-li-day:hover {
          cursor: pointer;
          color: #fff; }
        .stockHistory .stockHistory-content li .history-li-day .history-li-day-show {
          float: right; }
        .stockHistory .stockHistory-content li .history-li-day .icon-up {
          content: "\e90f";
          font-size: 10px; }
        .stockHistory .stockHistory-content li .history-li-day .icon-plus {
          content: "\ea0a";
          font-size: 12px; }
        .stockHistory .stockHistory-content li .history-li-day .icon-down {
          content: "\e915";
          font-size: 10px; }
        .stockHistory .stockHistory-content li .history-li-day .icon-minus {
          font-size: 12px;
          content: ""; }
      .stockHistory .stockHistory-content li .history-li-table {
        display: none;
        width: 100%; }
        .stockHistory .stockHistory-content li .history-li-table tbody {
          width: 100%; }
        .stockHistory .stockHistory-content li .history-li-table td {
          text-align: center;
          height: 40px;
          background-color: #343b40;
          border-bottom: 1px solid #2c2e30;
          border-right: 1px solid #2c2e30; }
          .stockHistory .stockHistory-content li .history-li-table td.tbody-second-td {
            text-align: left;
            text-indent: 15px; }
      .stockHistory .stockHistory-content li .history-li-message {
        display: none;
        padding-top: 15px;
        padding-bottom: 15px; }
        .stockHistory .stockHistory-content li .history-li-message .message-i {
          font-size: 12px;
          display: inline-block;
          width: 14px;
          height: 14px;
          color: #fff;
          text-align: center;
          line-height: 14px;
          border-radius: 50%;
          background-color: #78b1f6; }

/*# sourceMappingURL=changeStockHistory.css.map */
