/**
 * Created by Lever on 16/7/27.
 */
.main-content{
  margin-right: 37px;
  margin-top: 60px;
  padding: 15px 0;
  .react-tab{
    margin-top: 0;
  }
}
.table-container .scroll-bar-container {
  min-width: 1200px - 35px \9;
}