$UP:#FC5858;
$BG:#56636b;
$TABLE_BG:#202427;
$DIVIDING_LINE:#374148;
.secLevNav{
  //height: 100px;
  background-color: #282d31;
  border-bottom: 1px solid $DIVIDING_LINE;
  padding: 30px 20px;
  ul{
    li{
      //line-height: 100px;
      width:160px;
      height: 40px;
      float:left;
      color: #fff;
      margin-right: 20px;
      //border: 1px solid #fff;
      border-radius: 5px;
      background-color: $BG;

      text-align: center;
      line-height: 40px;
    }
    .active{
      li{
        background-color: $UP;
      }

    }
  }
}