/*
* Author:Yuri 2016/07/05
*/

$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;


$BO:1px solid $BORDER;

.basic{
  color: $FONT;
  font-size: 12px;
  .itemName{
    color: #fff;
  }
}
@mixin btn($w,$h,$c,$bc){
  width: $w;
  height: $h;
  color: $c;
  background-color: $bc;
  line-height: $h;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}

.fpe-fundName{
  @extend .basic;
  padding: 14px 20px;
  color: #fff;
  .name{
    float: left;
    margin-top: 6px;
    margin-bottom: 10px;
    input{
      border: $BO;
      color: #fff;
      border-radius: 2px;
      margin-right: 9px;
      height: 20px;
      font-size: 12px;
    }
    i{
      line-height: 22px;
      position: relative;
      top:1px;
      font-size: 14px;
    }

  }
  .deleteBtn{
    float: right;
    font-size: 14px;
    @include btn(100px,40px,#FFF,$UP);
  }

}
.fpe-fundCompany{
  @extend .basic;
  padding: 25px 20px;
  .warningText{
    position: absolute;
    left: 63px;
  }
  .filterItem{
    margin-bottom: 28px;
    &:nth-child(4){
      margin-bottom: 0;
    }
    span.itemName{
      color: #fff;
    }
    .commonFilter{
      display: inline-block;
      margin-left: 40px;
      vertical-align: middle;
      &>ul{
        display: inline-block;
        li:nth-child(1){
          width: 78px;
        }
        li{
          span.caret.active{
            border-top-color: $A ;
          }
        }

      }
      &>div{
        display: inline-block;
        position: relative;
        top:-3px;
        input{
          height: 23px;
        }
      }
    }
  }
}

.fpe-fundDetail{
  @extend .fpe-fundCompany;
  .filterItem{
    &:nth-child(2){
      margin-bottom: 0;
    }
    .commonFilter{
      vertical-align: top;
      &>div{
        display: block;
        margin-top: 20px;
      }
      .childParam-none{
        display: none ;
      }

    }
    .achieveSuper{
      &>.filterListBody{
        margin-top: 0;
      }
      .achieveChild{
        border: $BO;
        height: 28px;
        background-color: $FILTER_BG;
        width: 650px;
        border-radius: 2px;
        margin-left: 0;
        margin-top: 20px;
        &>ul{
          margin-left: 30px;
          line-height: 28px;
          display: inline-block;

        }
        .filterListBody{
          display: inline-block;
          position: relative;
          top:-10px;
          margin-top: 0;
          line-height: 28px;
          input{
            width: 118px;
            height: 14px;
          }
        }

      }
    }
    .scaleSuper{
      .filterListBody{
        margin-top: 0px;
        display: inline-block;
        position: relative;
        top:-3px;

      }
    }
  }

}
.fpe-fundType{
  @extend .basic;
  padding: 25px 20px;
  .itemName{
    display: inline-block;
    width: 56px;
    margin-right: 23px;
  }
  .fundTypeListContainer{
    width: 640px;
    height: 24px;
    border: $BO;
    border-radius: 2px;
    margin-left: 78px;
    margin-top: 14px;
    padding: 7px 30px;
    background-color: $FILTER_BG;
    ul{

      margin-left: 0;
      li{
        margin-top: 0px;
        border: none;
        line-height: 24px;
        &.active{
          border: 1px solid $A;
        }
      }

    }
  }
}
.fpe-fundCIndex{
  @media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
    span.itemName:after{
      content:".";
      display: inline-block;
      width:100%;
      overflow:hidden;
      height:0;
    }
  }
  @extend .fpe-fundCompany;
  .filterItem{
    //height: 20px;
    //margin-bottom: 0px;
    .warningText{
      left: 56px;
    }
    &:nth-child(4){
      margin-bottom: 0;
    }
    span.itemName{
      height: 20px;
      display: inline-block;
      width: 56px;
      color: #fff;
      text-align: justify;
      text-justify:distribute-all-lines;/*ie6-8*/
      text-align-last:justify;/* ie9*/
      -moz-text-align-last:justify;/*ff*/
      -webkit-text-align-last:justify;/*chrome 20+*/
    }
    .commonFilter{
      vertical-align: top;
      &>div{
        display: block;
        margin-top: 20px;
      }
      .childParam-none{
        display: none ;
      }

    }
    .fci-super{
      &>.filterListBody{
        margin-top: 0;
      }
      .achieveChild{
        border: $BO;
        height: 28px;
        background-color: $FILTER_BG;
        width: 650px;
        border-radius: 2px;
        margin-left: 0;
        margin-top: 20px;
        &>ul{
          margin-left: 30px;
          line-height: 28px;
          display: inline-block;

        }
        .filterListBody{
          display: inline-block;
          position: relative;
          top:-10px;
          margin-top: 0;
          line-height: 28px;
          input{
            width: 118px;
            height: 14px;
          }
        }

      }
    }
  }
}
.mail{
  @extend .basic;
  padding: 25px 20px;
  .mailLeft{
    float: left;
    width: 80px;

    .itemName{
      color: #fff;
    }
  }
  .mailRight{
    float: left;
    .mails-set{
      position: relative;
      top:-20px;
      margin-bottom: 80px;
      .btn-add{
        position: absolute;
        bottom:-40px;
        @include btn(160px,24px,#fff,$UP);
      }
      .mail-list{
        &>li{
          margin-bottom: 15px;
          margin-top: 15px;
          .select-box{
            height: 22px;
            width: 198px;
            //z-index: 99;
            .select-list{
              //height: 50px;
            }
          }
        }
      }
    }
  }
  .mail-warning{
    color: $UP;
    position: absolute;
    left: 268px;
    bottom: 26px;
  }

}