.incomeRate{
  .time-select{
    margin-bottom: 10px;
  }
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #616A76;
  border-top: 1px solid #616A76;

}
.chart-row{
  background-color: #292f33;
}