//设计规范标准色
$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;
.component-container{
  .confirm-manage{
    width: 300px;
    margin: 0 auto;
    .pageInfo{
      width: 400px;
      margin-left: 0px!important;
      margin-top: 74px;
      margin-right: 150px;
      margin-bottom: 200px;

    }
  }
  .confirm-form{
    margin-top: 200px;
  }

  .pull-left{
    width: 36px;
    height:36px;
    border-radius: 50%;
    background-color: $DOWN;
    position: relative;
    i{
      color: #fff;
      text-align: center;
      line-height: 36px;
      text-indent: 18px;
      padding-left:33% ;
    }
  }
  .pull-right{
    margin-left: 30px;
    margin-right: -30px;
    line-height: 36px;
    h4{
      font-size: 24px;
      color: $FONT_HOVER_COLOR;
    }
    P{
      font-size: 12px;
    }
  }
}

.contact-success{
  width: 285px;
  .pull-right{
    margin-right: -10px;
  }
}
