$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;
.confirm-order,.confirm-trans{
  padding: 20px 0;
  border: 1px solid #1a1b1d;
  font-size: 12px;
  .confirm-form{
    margin-top: 80px!important;
    div.label{
      width:500px;
    }
    div{
      display: block;
      width: 350px;
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      label{
        display: inline-block;
        width: 110px;
        padding-right: 10px;
        text-align: right;
      }
      span{
        color: #c6d1de;
      }
    }
  }
}
.confirm-tips{
  display: block;
  height: 100px;
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  .red-font{
    color: #fc5858;
  }
}

.confirm-trans{
  div.confirm-form{
    margin-top: 150px;
    margin-bottom: 150px;
  }
}