/*
* Author:Yuri 2016/07/05
*/

$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;


$BO:1px solid $BORDER;

$OW:680px;

/*----通用类-----*/
.red{
  color:  $UP;
}
.green{
  color: $DOWN;
}
@mixin activeParam{
  .fl-activeParam{
    color: $A !important;
    border-top-color: $A !important ;
    font-weight: bolder;
  }
}
@mixin activeChildParam{
  .fl-activeChildParam{
    color: $A;
    font-weight: bolder;
  }
}
@mixin listType {
  ul{
    margin-left: 70px;
    li{
      display: inline-block;
      color: #9eacbf;
      position: relative;
      margin-right: 25px;
      cursor: pointer;

    }
  }
}
@mixin ChildParamList{
  .childParamContainer{
    margin-left: 70px;
    border: $BO;
    border-radius: 4px;
    padding:0 16px;
    margin-top: 7px;
    background-color: #2b2f32;
    margin-bottom: 20px;
    .childParamItem{
      line-height: 38px;
      display: inline-block;
      margin-right: 60px;
      cursor: pointer;
      color: #fff;
    }
    @include activeChildParam;
  }
}
@mixin option{
  .optionalContainer {
    width: $OW;
    margin-top: 7px;
    border: $BO;
    border-radius: 4px;
    margin-left: 70px;
    padding: 9px 16px 9px 16px;
    color: #fff;
    background-color: #2b2f32;

    input {
      border: $BO;
      border-radius: 3px;
      color: $FONT;
      background-color: #2b2f32;
      width: 138px;
    }

    .ml {
      margin-left: 50px;
    }

    .optionalBtn {
      display: inline-block;
      width: 24px;
      line-height: 18px;
      padding: 0 17px;
      margin-left: 20px;
      border: 1px solid #445058;
      border-radius: 4px;
      color: $FONT;
      &:active {
        color: $A_HOVER;
        border-color: $A_HOVER;
      }
    }

  }
}
@mixin warning{
  .optionalContainer{
    .warningInput{
      border: 1px solid $UP;
    }
    .warngingDate{
      padding-left: 30px;
    }
    .warning7day{
      padding-left: 285px;
    }
    .warningSc{
      padding-left: 62px;
    }
    .warningText{
      color: $UP;
    }
  }
}
@mixin openTable{
  ul.superParam{
    margin-left: 70px;

    li{
      &:nth-child(1){
        width:82px;
      }
      display: inline-block;
      width:120px;
      color: #9eacbf;
      position: relative;
      cursor: pointer;
      text-align: left;
      //margin-right: 20px;
      i.fl-activeParam{
        color: $A;
        border-top-color: $A ;
        font-weight: bolder;
      }
      i{
        margin: 0 5px;
        vertical-align: middle;
        &.caret{
          border-top-color: #8b97a8;
        }
      }

    }
  }
}
/*----通用类结束-----*/


/*----开放基金类型组件结束-----*/
.fundOpenType{
  ul{
    width:100%;
    overflow: hidden;
    padding: 20px 23px 0px 20px;
    li{
      width: 90px;
      height: 28px;
      float: left;

      border-radius: 3px;
      background-color: $NAV_BG;
      border: $BO;

      text-align: center;
      color: $FONT_HOVER_COLOR;
      line-height: 30px;
      margin-right: 9px;
      cursor: pointer;

      position: relative;
      i{
        color: $FONT;
        width: 13px;
        height: 13px;

        position: absolute;
        right: 0px;
        bottom:0px;

        border-radius: 3px;
        z-index: 9;

        background-color: $TOOLBAR_BG;

        text-align: center;
        line-height: 13px;
        font-size: 10px;
        text-indent: -1;
      }
    }
    & > .activeOpenType{
      border-color: $UP;
      color:$UP;
      i.activeOpenTypeIcon{
        background-color: $UP;
        color: #fff;
      }
    }
  }
}


/*----开放基金规模组件结束-----*/




/*----基金公司组件-----*/
.fl-fundCompanyContainer{
  @include listType;
  @include activeParam;
  @include  activeChildParam;
  @include ChildParamList;
  //width: 80%;

  .childParamContainer{
    display: inline-block;
    max-width: 98%;
    min-width: 680px;
  }
  .childParamContainer.hide{
    display: none;
  }
  .special-chart{
    font-size: 14px;

  }
  .special-chart:nth-child(2){
    font-size: 12px;
    vertical-align: top;
  }
  .special-chart:nth-child(1){
    vertical-align: top;
  }


  &>ul>li{
    &:first-child{
      margin-right: 42px;
    }

  }
}

/*----基金公司结束-----*/

/*----基金业绩-----*/
.fl-fundAchieveContainer{
  @include openTable;
  @include activeParam;
  @include ChildParamList;
  @include  activeChildParam;
  @include option;
  @include warning;
  .childParamContainer{
    width: $OW;
    li.childParamItem{
      margin-right: 30px;
      &:last-child{
        margin-right: 0px;
      }
    }
  }
  ul.superParam{
    li{
      &:nth-child(8){
        width:80px;
      }
    }
  }
  .option-warning input{
    border-color: $UP;
  }
  .o-warning{
    color: $UP;
    position: relative;
    padding-left: 325px;
    margin-top: -10px;
  }

  .optionalContainer #startAm,.optionalContainer #endAm{
    width: 100px;
  }
}
/*----基金业绩结束-----*/


/*----基金收益-----*/
.fl-fundScaleContainer{
  @include openTable;
  @include activeParam;
  @include option;
  @include warning;
}


/*----基金收益组件结束-----*/



/*----基金规模组件-----*/
.fl-fundTypeContainer{
  @include openTable;
  @include activeParam;
}


/*----基金规模组件结束-----*/



/*----开放式基金组件-----*/
.fl-fundOpenParamContainer{
  @include openTable;
  @include activeParam;
  @include ChildParamList;
  @include  activeChildParam;
  .childParamContainer{
    width: 680px;
  }
  & > ul{
    li.no-right-margin{
      margin-right: 0px !important;
      display: inline-block;
    }
  }
  .option-warning input{
    border-color: $UP;
  }
  .o-warning{
    color: $UP;
    position: relative;
    padding-left: 445px;
    margin-top: -10px;
  }
}

.fl-fundRatingsContainer{
  @include openTable;
  @include activeParam;

  @include ChildParamList;
  @include  activeChildParam;
  .childParamContainer{
    width: 680px;
  }
  .icon-star-full{
    color: $FONT;
  }
  .fl-activeChildParam{
    span>i{
      color: #7AB4FA
    }
  }

}

/*----开放式基金组件结束-----*/


