/*
* Author:Yuri 2016/09/05
*/

$WE_BG:#141618;
$TABLE_BG:#202427;
$FILTER_BG:#282E33;
$NAV_BG:#374148;
$TOOLBAR_BG:#56636B;

$A:#6ea2e0;
$A_HOVER:#9BC8FF;
$FONT:#9EACBF;
$FONT_HOVER_COLOR:#CED6E1;

$BORDER:#616A76;
$DIVIDING_LINE:#374148;

$UP:#FC5858;
$DOWN:#5BBF7E;


$BO:1px solid $BORDER;

.fp-header{
  background-color:#2f3539;
  padding: 29px 0;
  text-align: center;
  .container{
    display: inline-block;
    & > li{
      display: inline-block;
      color: $FONT;
    }
    .item{
      .name{
        color: $FONT;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 11px;
      }
      .index{
        height: 30px;
        width:30px;
        border-radius: 50%;
        color: #fff;
        background-color: $FONT;
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
      }
    }
    .point{
      height: 30px;
      text-align: center;
      margin-left: -11px;
      div{
        line-height: 30px;
        position: relative;
        bottom:5px;

      }

    }
    .active{
      .name{
        color: $A_HOVER;
      }
      .index{
        background-color: $A_HOVER;
      }

    }
  }
}
