/**
 * Created by Lever on 16/11/9.
 */
.main-content{
  .react-tab-list .react-tab-title-box{
    color: #fff;
  }
  .react-tab-content{
    padding-top: 13px;
  }
  .tab-container{
    .react-tab-content{
      padding-bottom: 40px;
    }
  }
}
.tabs-container{
  overflow: hidden;
}